/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
package-lock.json

/public/js/build
/public/css/build
/public/img/build
/public/fonts/build
/public/img/custom/services

_ide_helper.php