@font-face {
  font-family: pf_encore_sans_prolight;
  src: local("pf_encore_sans_prolight"),
  url(../../fonts/build/PFEncoreSansPro-Light.otf);
}

html, body {
  font-family: pf_encore_sans_prolight;
  margin: 0;
  padding: 0;
  background: url("../../img/build/main_bg.png") repeat;
  height: 100%;
}

a {
  border: none;
}

a img {
  border: none;
}


.header .in a {
  text-decoration: none;
}

.header .logo {
  /*width: 437px;*/
  margin-top: 5px;
}

.header .logo .logo_text {
  font-size: 47px;
  color: #1f52a2;
}

.header .logo .logo_sub_text {
  font-size: 16px;
  color: #262626;
  margin: 6px 0 0 0;
}

.header .contacts {
  /*width: 437px;*/
  margin: 15px 0 4px 0;
}

.header .contacts .contacts_phone {
  text-align: right;
  font-size: 35px;
  padding-top: 9px;
  line-height: 40px;
  color: #262626;
}

.header .contacts .contacts_address {
  text-align: right;
  font-size: 16px;
  color: #262626;
}

.header .menu {
  width: 500px;
  float: left;
  margin: 26px 0 0 0;
  padding: 0;
  clear: both;
}

.header .menu li {
  font-size: 20px;
  color: #262626;
  float: left;
  list-style: none;
  margin-right: 53px;
  padding-bottom: 10px;
}

.header .menu li:hover {
  border-bottom: 3px solid #000;
  cursor: pointer;
}

.header .menu .active {
  border-bottom: 3px solid #000;
  cursor: pointer;
}

.header .menu li a {
  color: #262626;
  text-decoration: none;
}

.header .button_area {
  width: 221px;
  height: 44px;
  background: #01aeff;
  float: right;
  cursor: pointer;
  z-index: 999;
}

.header .button_area .text_order {
  text-align: center;
  width: 100%;
  font-size: 22px;
  color: #fefefe;
  margin-top: 8px;
}

.header .button_area .modal_window {
  padding: 30px 0 30px 32px;
}

.header .button_area .header_modal {
  font-size: 31px;
  color: #000000;
}

.header .button_area .field_modal {
  width: 346px;
  height: 44px;
  color: #000000;
  margin: 26px 0 0 0;
}

.header .button_area .field_modal .label {
  color: #000000;
  font-size: 20px;
  margin-bottom: 8px;
}

.header .button_area .field_modal .input {
  width: 344px;
  height: 27px;
}

.header .button_area .field_modal .input input[type=text] {
  width: 100%;
  height: 100%;
  border: 1px solid #4d4d4d;
  text-indent: 9px;
}

.header .button_area .field_modal .input input::-webkit-input-placeholder {
  font-family: pf_encore_sans_prolight;
  color: #989898;
}

.header .button_area .field_modal .input input::-moz-placeholder {
  font-family: pf_encore_sans_prolight;
  color: #989898;
}

.header .button_area .field_modal .input input:-moz-placeholder {
  font-family: pf_encore_sans_prolight;
  color: #989898;
}

.header .button_area .field_modal .input input:-ms-input-placeholder {
  font-family: pf_encore_sans_prolight;
  color: #989898;
}

.header .button_area .field_modal .input input[type=submit] {
  margin-top: 20px;
  font-family: pf_encore_sans_prolight;
  float: right;
  width: 200px;
  height: 44px;
  background: #01aeff;
  border: none;
  font-size: 20px;
  color: #fff
}

.main {
  width: 100%;
  clear: both;
}

.main .in {
  width: 878px;
  background: #ffffff;
  margin: auto;
  min-height: 160px;
  padding: 0 52px 0 50px;
}

.main .page_header {
  font-size: 45px;
}

.main .page_sub_header {
  font-size: 22px;
}

.main .slider {
  margin: 30px 0 0 -52px;
  position: relative;
  width: 1000px;
}

.main .page_sub_sub_header {
  font-size: 38px;
  margin-top: 58px;
  margin-bottom: 16px;
}

.main .icons {
  height: 170px;
}

.main .icons .item {
  width: 292px;
  height: 200px;
  float: left;
}

.main .icons .item:last-child {
  float: left;
}

.main .icons .item .img {
  text-align: center;
  margin-bottom: 20px;
  height: 122px;
}

.main .icons .item .text {
  text-align: center;
}

.main .icons .item .text_header {
  font-size: 30px;
}

.main .icons .item .text_sub_header {
  font-size: 15px;
}

.main .page_text {
  min-height: 120px;
  color: #000000;
  font-size: 22px;
}

.main.subpage .page_text {
  min-height: 120px;
  color: #000000;
  font-size: 22px;
  margin-top: 30px;
}

.main .page_text p {
  margin: 10px 0 0;
}

.service {
  padding: 10px 0 10px 0;
  h3 {
    margin: 8px 0 38px 0;
    a {
      color: #000;
    }
  }

  h4 {
    margin: 58px 0 38px 0;
    text-align: center;
    a {
      color: #000;
    }
  }
}

.shadow {
  width: 980px;
  margin: auto;
  box-shadow: 0 10px 33px 1px #000;
}

.services_main_block {
  margin-top: 48px;

  .row {
  }

  .services_main_block__item {

    margin-bottom: 2%;
    height: 258px;
    box-shadow: inset 0 0 15px -3px #333;
    position: relative;
    cursor: pointer;

    .name {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      background: #000;
      opacity: 0.4;
      height: 16%;
      z-index: 1;
    }

    .name_text {
      position: absolute;
      bottom: 4%;
      z-index: 12;

      text-align: center;
      width: 100%;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
    }

    h3 {
      position: absolute;
      z-index: 11;
      color: #ffffff;
      text-align: center;
      width: 100%;
      top: 25%;
      display: none;

      a {
        color: #ffffff;
      }

      p {
        font-size: 14px;
        margin-top: 12px;
      }

    }

    .overlay {
      z-index: 10;
      background: #000;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      &.slow {
        opacity: 0.4;

      }
    }

  }

}

.footer {
  height: 242px;
  width: 980px;
  clear: both;
  background: url("../../img/build/footer_bg.png"), #fff no-repeat;
  margin: auto;
}

.footer .in {
  width: 740px;
  margin: auto;
  background: #fff
}