html, body {
  font-family: pf_encore_sans_prolight;
  margin: 0;
  padding: 0;
  background: url("../../img/build/main_bg.png") repeat;
  height: 100%;
}

#wrapper {
  min-height: 1000px;
  overflow: hidden;
  margin: 0 0 -242px 0;
  background: #fff;
}

#wrapper:after {
  content: "";
  display: block;
  height: 242px;
}

.in {
  width: 740px;
  margin: auto;
  position: relative;
}

.header {
  height: 200px;
  width: 100%;
}

.header .in {
  width: 878px;
  background: #ffffff;
  margin: auto;
  height: 180px;
  padding: 33px 52px 0 50px;
}

.header .in a {
  text-decoration: none;
}

.header .logo {
  margin-top: 5px;
}


.main {
  width: 100%;
  clear: both;
}

.main .in {
  width: 878px;
  background: #ffffff;
  margin: auto;
  min-height: 160px;
  padding: 0 52px 0 50px;
}

.main .page_header {
  font-size: 45px;
}

.main .page_sub_header {
  font-size: 22px;
}

.main .page_sub_sub_header {
  font-size: 38px;
  margin-top: 58px;
  margin-bottom: 30px;
}

.shadow {
  width: 980px;
  margin: auto;
  box-shadow: 0 10px 33px 1px #000;
}